HomePage.css

.home-container {
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 20px;
}

.filter-sidebar {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-sidebar h4 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.clear-filter-btn {
    width: 100%;
    margin-top: 30px;
    border: 1px solid red;
    color: red;
    border-radius: 6px;
    padding: 10px;
    background: transparent;
}

.product-area {
    padding-left: 30px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 250px;
    
    margin: 15px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.product-image {
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
    width: 100%;
}

.product-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.product-description {
    font-size: 0.9rem;
    color: #777;
    margin: 10px 0;
}

.product-price {
    color: #198754;
    font-weight: bold;
}

.product-actions {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-details {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    font-weight: 600;
}

.btn-add-cart {
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: #000;
    color: #fff;
    font-weight: 600;
}

.load-more-btn {
    padding: 10px 25px;
    font-size: 1rem;
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}